html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: sans-serif;
}

#dataBox {
    background: rgba(0, 0, 0, 0.5);
    border: 6px double rgb(83, 83, 83);
    color: white;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    
}

#dataBox label > h3 {
    color: #d5d0b2;
}


img {
    max-height: 250px;
}

footer {
    background: rgba(0, 0, 0, 0.5);
}

footer ul a {
    color: white;
    font-size: 1.5em;
}

footer ul a:hover {
    color: rgb(124, 124, 124);
}
